/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@200&display=swap');
/* Variables */
:root{
    --proyect-gray: rgba(220, 220, 220, 0.7);
    --proyect-secondary-gray: rgba(100, 100,100, 0.7);
    --primary-color: darkcyan;
}


body{
    margin: 0;
    padding: 0;
    background: var(--proyect-gray);
    /* Cambar a 100vh */
    height: 100vh; 
    font-family: 'Victor Mono', monospace;;
}


/*************************************************** nav section */

#nav{
    opacity: 100%;
    position: fixed;
    z-index: 100;
    /* background-color: var(--proyect-secondary-gray) */
}

.nav{
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 20px 0;
    width: 100%;
    height: auto;
}

.nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 0 50px 0 50vh;
}

.nav ul li{
    min-width: 130px;
    padding: 15px;
    margin: 0 15px;
    border-radius: 10px;
    color:darkcyan;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.7), 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
}
.nav ul li:hover{
    cursor: pointer;
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7), inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
}

i, a{
    padding: 10px 25px 0 0;
    font-size: 30px;
    color: var(--proyect-secondary-gray);
    float: right;
    transition: all 0.5;
}
i, a:hover{
    cursor: pointer;
    color: var(--primary-color);
}


.close{
    display: none !important;
}

.open{
    display: none !important;
}

/************************************************** Home section  */

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10em 0 10em 0;
}

.home h1{
    font-weight:900;
    font-size: 75px;
    color: var(--primary-color);
    
}

.home h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
}

.home a{
    width: 95%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    padding: 0.2em;
    border-radius: 15px;
    text-decoration: none;
}



/************************************************** About Section */

.about{
    height: 100vh;
}

.imgsection{
    position:relative;
    top: 20vh;
}
.me{
    display: flex;
    justify-content: space-between;
}
.me div{
    position:absolute;
    padding: 0 15% 0 30%;

}

.me img{
    position: absolute;
    top: 5vh;
    /* bottom: 60vh; */
    height: 250%;
    border-radius: 40%;
    margin-left: 3em;
}
.mebkg{
    position:relative;
    top:40vh;
    height: 15vh;;
    background: lightblue;
}

/************************************************** Skills section */

.skills{
    height: 100vh;
}

.skills .sk h1{
    font-weight:900;
    font-size: 75px;
    color: var(--primary-color);
}

.tec{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    display: grid;
    grid-template-columns: minmax(200px, 400px) minmax(200px, 400px);
    grid-gap: 40px;
}
.tec div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.tec img{
    height: 100px;
}


/************************************************** Portfolio section */

.portfolio{
    height: 100vh;
}

.portfolio h1{
    font-weight:900;
    font-size: 75px;
    color: var(--primary-color);
}


.slider{
    overflow: hidden;
    height: 50vh;
    margin-top: 3em;
    width: 50%;
}


.slider--inner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 0.3s;
    align-items: center;
}

.slider--inner img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit:contain;
}

.slider-section{
    display: flex;
    align-items: initial;
}


/* Description Slider */
.description{
    /* padding: 7em 2em 0 2em; */
    overflow: hidden;
    max-width: 50%;
    height: 50vh;
}


.description-inner{
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.3s;
    align-items: center;
}

.description-inner div{
    height: 50vh;
}


/*********************************   RESPONSIVE   **********************************/

@media screen and (max-width:850px){
    .nav{
        position: fixed;
        top: 0;
        width: 100%;
        padding: 0;
        z-index: 1000;
        transition: all 0.3s;
        /* Ocultamos */
        transform: translateX(110%);
    }

    .nav-active{
        transform: translateX(0%);
    }

    .nav ul{
        flex-direction: column;
        align-items: center;
        /* margin: 10px; */
        padding: 0;
        width: 100%;
    }

    .nav ul li{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        height: 25vh;
    }

    .nav ul li:hover{
        text-decoration: underline;
    }

    .close{
        position:absolute;
        right: 1em;
        top: 1em;
        display: inherit !important;
    }

    .open{
        position:absolute;
        right: 1em;
        top: 1em;
        display:inherit !important;
    }


    .hide{
        display: none !important;
    }

}