<!DOCTYPE html>
<html lang="sp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/estilos.css" />
    <link
      rel="stylesheet"
      href="../lib/fontawesome-free-6.4.0-web/css/all.min.css"
    />
    <link rel="shortcut icon" href="../img/me.png" />
    <title>Alonso Taverna</title>
  </head>
  <body>
    <section class="effect">
      <div class="container">
        <section>
          <!-- NAV -->
          <nav>
            <i class="fa-solid fa-bars open" id="btnMenuOpen"></i>
            <div class="nav nav-active" id="nav">
              <ul>
                <a href="#home"><li>Home</li></a>
                <a href="#about"><li>About</li></a>
                <a href="#portfolio"><li>Portfolio></li></a>
                <a href="#skills"><li>Skills</li></a>
                <a href="#contacto"><li>Contacto</li></a>
              </ul>

              <i class="fa-solid fa-angles-right close" id="btnMenuClose"></i>
            </div>
          </nav>
        </section>

        <!-- HOME -->

        <section>
          <div class="home" id="home">
            <div>
              <h1>Alonso Taverna</h1>
              <h3>Full Stack Dev.</h3>
              <a
                href="https://drive.google.com/file/d/1VMLvT7FFgyJrAfpsjOk-IBYBdYKRy5OF/view?usp=sharing"
                >Descargar CV</a
              >
            </div>
          </div>
        </section>

        <!-- ABOUT -->
        <section>
          <div class="about" id="about">
            <div class="imgsection">
              <div class="mebkg"></div>

              <div class="me">
                <img src="../img/PNG/me.png" alt="" />
                <div>
                  <h3>Sobre mi</h3>
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Necessitatibus, itaque qui? Saepe doloribus quas quidem
                    labore! Itaque harum ipsa, enim aut consectetur ratione
                    repellendus natus similique fuga quis alias ipsam?
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Veniam dignissimos fugit eos veritatis in inventore iusto
                    mollitia eum omnis? Molestias qui consequuntur magni?
                    Exercitationem libero doloribus fugiat perspiciatis
                    asperiores expedita?
                  </p>
                  <div>
                    <a
                      href="https://www.linkedin.com/in/alonso-taverna-903266192/"
                      ><i class="fa-brands fa-linkedin"></i
                    ></a>
                    <a href="https://github.com/alotav"
                      ><i class="fa-brands fa-square-github"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- SKILLS -->

        <section>
          <div class="skills" id="skills">
            <div class="sk">
              <div>
                <h1>SKILLS</h1>
              </div>

              <div class="tec">
                <div>HTML<img src="../img/PNG/HTML5.png" /></div>
                <div>CSS3<img src="../img/PNG/CSS3.png" /></div>
                <div>Bootstrap<img src="../img/PNG/bootstrap.png" /></div>
                <div>JavaScript<img src="../img/PNG/JS.png" /></div>
                <div>Python<img src="../img/PNG/python.png" /></div>
                <div>Django<img src="../img/PNG/django.png" /></div>
                <div>PostgreSQL<img src="../img/PNG/postgres.png" /></div>
                <div>GitHub<img src="../img/PNG/github.png" /></div>
              </div>
            </div>
          </div>
        </section>

        <!-- PORTFOLIO -->

        <section>
          <div class="portfolio" id="portfolio">
            <h1>PROYECTOS</h1>

            <div class="slider-section">
              <!-- Description Slider -->
              <div class="description">
                <div class="description-inner">
                  <div>
                    <h3>CPFSJ</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Praesentium repellat non velit aperiam magnam, commodi
                      provident libero beatae ex obcaecati quam maxime suscipit
                      enim facere, minima quidem tempora, numquam amet? Lorem
                      ipsum dolor sit amet consectetur adipisicing elit.
                      Voluptates quam quasi expedita aliquid amet iusto numquam
                      nihil dicta quia, nam, doloribus ullam error neque.
                      Nostrum incidunt assumenda ullam voluptatibus quasi!
                    </p>
                  </div>

                  <div>
                    <h3>Pizza World</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Praesentium repellat non velit aperiam magnam, commodi
                      provident libero beatae ex obcaecati quam maxime suscipit
                      enim facere, minima quidem tempora, numquam amet? Lorem
                      ipsum dolor sit amet consectetur adipisicing elit.
                      Voluptates quam quasi expedita aliquid amet iusto numquam
                      nihil dicta quia, nam, doloribus ullam error neque.
                      Nostrum incidunt assumenda ullam voluptatibus quasi!
                    </p>
                  </div>

                  <div>
                    <h3>Tecno Market</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Praesentium repellat non velit aperiam magnam, commodi
                      provident libero beatae ex obcaecati quam maxime suscipit
                      enim facere, minima quidem tempora, numquam amet? Lorem
                      ipsum dolor sit amet consectetur adipisicing elit.
                      Voluptates quam quasi expedita aliquid amet iusto numquam
                      nihil dicta quia, nam, doloribus ullam error neque.
                      Nostrum incidunt assumenda ullam voluptatibus quasi!
                    </p>
                  </div>

                  <div>
                    <h3>Gestion de Envios</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Praesentium repellat non velit aperiam magnam, commodi
                      provident libero beatae ex obcaecati quam maxime suscipit
                      enim facere, minima quidem tempora, numquam amet? Lorem
                      ipsum dolor sit amet consectetur adipisicing elit.
                      Voluptates quam quasi expedita aliquid amet iusto numquam
                      nihil dicta quia, nam, doloribus ullam error neque.
                      Nostrum incidunt assumenda ullam voluptatibus quasi!
                    </p>
                  </div>

                  <div>
                    <h3>Task Mngr</h3>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Praesentium repellat non velit aperiam magnam, commodi
                      provident libero beatae ex obcaecati quam maxime suscipit
                      enim facere, minima quidem tempora, numquam amet? Lorem
                      ipsum dolor sit amet consectetur adipisicing elit.
                      Voluptates quam quasi expedita aliquid amet iusto numquam
                      nihil dicta quia, nam, doloribus ullam error neque.
                      Nostrum incidunt assumenda ullam voluptatibus quasi!
                    </p>
                  </div>
                </div>
              </div>

              <div class="slider">
                <div class="slider--inner">
                  <img src="../img/IMG_SLIDER/CPFSJ.png" alt="" />
                  <img src="../img/IMG_SLIDER/worldpizza.png" alt="" />
                  <img src="../img/IMG_SLIDER/tecnomarket.png" alt="" />
                  <img src="../img/IMG_SLIDER/pedidos.png" alt="" />
                  <img src="../img/IMG_SLIDER/taskapp.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>

    <footer>
      <div class="footer" id="contacto">
        <ul>
          <li>
            <div>
              <i class="fa-solid fa-envelope"></i>
              <p>alonsotaverna@outlook.com</p>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div>
              <i class="fa-brands fa-square-github"></i>
              <p>GitHub</p>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div>
              <i class="fa-solid fa-mobile"></i>
              <p>+54 3468530889</p>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div>
              <i class="fa-brands fa-linkedin"></i>
              <p>LinkedIn</p>
            </div>
          </li>
        </ul>
      </div>
    </footer>

    <script src="../js/app.js"></script>
  </body>
</html>
