<!DOCTYPE html>
<html lang="sp">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <link rel="stylesheet" href="../css/estilos.css" />
    <link
      rel="stylesheet"
      href="../lib/fontawesome-free-6.4.0-web/css/all.min.css"
    />
    <link rel="shortcut icon" href="../img/PNG/me.png" />
    <title>Alonso Taverna</title>
  </head>
  <body>
    <div class="container">
      <section class="effect">
        <section>
          <!-- NAV -->
          <i class="fa-solid fa-bars open" id="btnMenuOpen"></i>
          <nav>
            <!-- Dark mode -->
            <div class="switch">
              <i class="btn-dark"></i>
              <!-- fa-solid fa-toggle-on -->

              <i class="fa-solid fa-toggle-off btn-light"></i>
            </div>
            <div class="nav" id="nav">
              <!-- nav-active -->
              <!-- <i class="fa-solid fa-toggle-on dark"></i> -->
              <ul>
                <a href="#home"><li>Home</li></a>
                <a href="#about"><li>About</li></a>
                <a href="#skills"><li>Skills</li></a>
                <a href="#portfolio"><li>Portfolio</li></a>
                <a href="#contacto"><li>Contacto</li></a>
              </ul>

              <i class="fa-solid fa-angles-right close" id="btnMenuClose"></i>
            </div>
          </nav>
        </section>

        <!-- HOME -->

        <section>
          <div class="home" id="home">
            <div>
              <h1>Alonso Taverna</h1>
              <h3>Full Stack Dev.</h3>
              <a
                class="download"
                href="https://drive.google.com/file/d/1nEC27gSNETQSP5djLxkZ7AEMwFXklPZz/view?usp=drive_link"
                target="_blank"
                >Descargar CV</a
              >
            </div>
          </div>
        </section>

        <!-- ABOUT -->
        <section>
          <div class="about" id="about">
            <div class="imgsection">
              <div class="mebkg"></div>

              <div class="me">
                <img src="../img/PNG/me.png" alt="" />
                <div>
                  <h3>Sobre mi</h3>
                  <p>
                    Soy un estudiante y autodidacta apasionado por la
                    tecnología. Siempre he sentido curiosidad por comprender
                    cómo funcionan las cosas y por explorar lo que se oculta
                    bajo la superficie. Esta curiosidad me llevó a estudiar
                    electrónica y a adentrarme en el mundo del desarrollo de
                    software por primera vez.
                  </p>
                  <p>
                    Actualmente, me encuentro en mi primer año de la carrera de
                    <strong>Analista Programador</strong>, aprendiendo sobre las
                    últimas tecnologías y creando proyectos que me permiten
                    poner en práctica habilidades y conocimientos.
                  </p>
                  <p>
                    Si quieres ver algunos de mis desarrollos, puedes
                    encontrarlos en la sección de portfolio.
                  </p>
                  <div class="divme">
                    <a
                      href="https://www.linkedin.com/in/alonso-taverna-903266192/"
                      target="_blank"
                      ><i class="fa-brands fa-linkedin"></i
                    ></a>
                    <a href="https://github.com/alotav" target="_blank"
                      ><i class="fa-brands fa-square-github"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- SKILLS -->

        <section>
          <div class="skills" id="skills">
            <div class="sk">
              <div>
                <h1>SKILLS</h1>
              </div>

              <div class="tec">
                <div>HTML<img src="../img/PNG/HTML5.png" /></div>
                <div>CSS3<img src="../img/PNG/CSS3.png" /></div>
                <div>Bootstrap<img src="../img/PNG/bootstrap.png" /></div>
                <div>JavaScript<img src="../img/PNG/JS.png" /></div>
                <div>Python<img src="../img/PNG/python.png" /></div>
                <div>Django<img src="../img/PNG/django.png" /></div>
                <div>PostgreSQL<img src="../img/PNG/postgres.png" /></div>
                <div>GitHub<img src="../img/PNG/github.png" /></div>
                <div>React<img src="../img/PNG/react.png" /></div>
              </div>
            </div>
          </div>
        </section>

        <!-- PORTFOLIO -->

        <section>
          <div class="portfolio" id="portfolio">
            <h1>PROYECTOS</h1>

            <div class="slider-section">
              <!-- Description Slider -->
              <div class="description">
                <div class="description-inner">
                  <div>
                    <h3>Gimnasio CPFSJ</h3>
                    <h4>Django App</h4>
                    <p>
                      La aplicación permite llevar un seguimiento de las rutinas
                      de entrenamiento de cada uno de los alumnos del gimnasio.
                      Los entrenadores pueden supervisar y ajustar las rutinas
                      de los usuarios en función de su progreso, utilizando el
                      panel de administración. Estos cambios se reflejan en una
                      base de datos en Postgres."
                    </p>
                    <p>
                      Por su parte, los alumnos siguen las instrucciones de su
                      entrenador a través de la aplicación. Dado que la
                      aplicación es responsive, los usuarios pueden acceder a
                      sus rutinas desde sus dispositivos móviles en el momento
                      de entrenar.
                    </p>
                  </div>

                  <div>
                    <h3>Pizza World</h3>
                    <h4>JavaScript Vanilla</h4>
                    <p>
                      Esta es una página de portafolio desarrollada sin el uso
                      de frameworks ni librerías externas, utilizando únicamente
                      HTML, CSS y JavaScript. La web es completamente
                      responsive, lo que significa que se adapta a cualquier
                      dispositivo.
                    </p>
                    <p>
                      Está enfocada en la experiencia del usuario en el
                      front-end, con efectos implementados en JavaScript y
                      estilos elaborados en CSS.
                    </p>
                  </div>

                  <div>
                    <h3>Tecno Market</h3>
                    <h4>Django App</h4>
                    <p>
                      TecnoMarket es una tienda en línea especializada en
                      productos electrónicos, creada con el framework Django.
                      Además, se han incorporado conceptos de JavaScript para
                      darle un toque de dinamismo.
                    </p>
                    <p>
                      Una de las ventajas de esta aplicación es su eficiente
                      panel de administración, el cual facilita el control y la
                      gestión de productos. Esto hace que el mantenimiento de la
                      tienda sea una tarea amigable y accesible.
                    </p>
                  </div>

                  <div>
                    <h3>Gestión de Envíos</h3>
                    <h4>Django App</h4>
                    <p>
                      La aplicación fue creada con Django para fines educativos,
                      aprovecha las potentes características de este framework
                      para administrar diversas funcionalidades desde un
                      eficiente panel de control. Esto permite la incorporación
                      dinámica de contenido en el sitio, como la publicación de
                      entradas de blog, la introducción de nuevos servicios, el
                      envío de consultas y la gestión práctica de la tienda en
                      línea.
                    </p>
                  </div>

                  <div>
                    <h3>Task Mngr</h3>
                    <h4>React - Django Rest Framework</h4>
                    <p>
                      Task mngr es una aplicación que te permite la creación de
                      listas de tareas para una mejor organización.
                    </p>
                    <p>
                      La interfaz de usuario está desarrollada con React. En
                      cuanto al backend, Task Mngr hace uso de Django Rest
                      Framework para exponer una API que es consumida por el
                      front-end, permitiendo un manejo completo de las
                      operaciones CRUD (Crear, Leer, Actualizar y Eliminar) de
                      tareas.
                    </p>
                  </div>
                </div>
              </div>

              <div class="slider">
                <i class="fa-solid fa-arrow-right arrowRight"></i>
                <i class="fa-solid fa-arrow-left arrowLeft"></i>
                <div class="slider--inner">
                  <img src="../img/IMG_SLIDER/CPFSJ.png" alt="" />
                  <img src="../img/IMG_SLIDER/worldpizza.png" alt="" />
                  <img src="../img/IMG_SLIDER/tecnomarket.png" alt="" />
                  <img src="../img/IMG_SLIDER/pedidos.png" alt="" />
                  <img src="../img/IMG_SLIDER/taskapp.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>

    <footer>
      <div class="footer" id="contacto">
        <ul>
          <li>
            <div>
              <i class="fa-solid fa-envelope"></i>
              <p>alonsotaverna@outlook.com</p>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <a href="https://github.com/alotav" target="_blank">
              <div class="git">
                <i class="fa-brands fa-square-github"></i>
                <p>GitHub</p>
              </div>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <div>
              <i class="fa-solid fa-mobile"></i>
              <p>+54 3468530889</p>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <a
              href="https://www.linkedin.com/in/alonso-taverna-903266192/"
              target="_blank"
            >
              <div class="link">
                <i class="fa-brands fa-linkedin"></i>
                <p>LinkedIn</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </footer>

    <script src="../js/app.js"></script>
  </body>
</html>
