<!DOCTYPE html>
<html lang="sp">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <link rel="stylesheet" href="../css/estilos.css" />
    <link
      rel="stylesheet"
      href="../lib/fontawesome-free-6.4.0-web/css/all.min.css"
    />
    <link rel="shortcut icon" href="../img/PNG/me.png" />
    <title>Alonso Taverna</title>
  </head>
  <body>
    <div class="container">
      <section class="effect">
        <section>
          <!-- NAV -->
          <i class="fa-solid fa-bars open" id="btnMenuOpen"></i>
          <nav>
            <!-- Dark mode -->
            <div class="switch">
              <i class="btn-dark"></i>
              <!-- fa-solid fa-toggle-on -->

              <i class="fa-solid fa-toggle-off btn-light"></i>
            </div>
            <div class="nav" id="nav">
              <!-- nav-active -->
              <!-- <i class="fa-solid fa-toggle-on dark"></i> -->
              <ul>
                <a href="#home"><li>Home</li></a>
                <a href="#about"><li>About</li></a>
                <a href="#skills"><li>Skills</li></a>
                <a href="#portfolio"><li>Portfolio</li></a>
                <a href="#contacto"><li>Contacto</li></a>
              </ul>

              <i class="fa-solid fa-angles-right close" id="btnMenuClose"></i>
            </div>
          </nav>
        </section>

        <!-- HOME -->

        <section>
          <div class="home" id="home">
            <div>
              <h1>Alonso Taverna</h1>
              <h3>Full Stack Dev.</h3>
              <a
                class="download"
                href="https://drive.google.com/file/d/1VMLvT7FFgyJrAfpsjOk-IBYBdYKRy5OF/view?usp=sharing"
                >Descargar CV</a
              >
            </div>
          </div>
        </section>

        <!-- ABOUT -->
        <section>
          <div class="about" id="about">
            <div class="imgsection">
              <div class="mebkg"></div>

              <div class="me">
                <img src="../img/PNG/me.png" alt="" />
                <div>
                  <h3>Sobre mi</h3>
                  <p>
                    Soy un estudiante y autodidacta apasionado por la
                    tecnología. Siempre he sentido curiosidad por
                    comprender cómo funcionan las cosas y por explorar lo que se
                    oculta bajo la superficie. Esta curiosidad me llevó a
                    estudiar electrónica y a adentrarme en el mundo del
                    desarrollo de software por primera vez.
                  </p>
                  <p>
                    Actualmente, me encuentro en mi primer año de la carrera de
                    <strong>Analista Programador</strong>, aprendiendo sobre las
                     últimas tecnologías y creando proyectos que me permiten poner
                      en práctica habilidades y conocimientos.
                  </p>
                  <p>
                    Si quieres ver algunos de mis desarrollos, puedes encontrarlos
                    en la sección de portfolio.
                  </p>
                  <div class="divme">
                    <a
                      href="https://www.linkedin.com/in/alonso-taverna-903266192/"
                      target="_blank"
                      ><i class="fa-brands fa-linkedin"></i
                    ></a>
                    <a href="https://github.com/alotav" target="_blank"
                      ><i class="fa-brands fa-square-github"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- SKILLS -->

        <section>
          <div class="skills" id="skills">
            <div class="sk">
              <div>
                <h1>SKILLS</h1>
              </div>

              <div class="tec">
                <div>HTML<img src="../img/PNG/HTML5.png" /></div>
                <div>CSS3<img src="../img/PNG/CSS3.png" /></div>
                <div>Bootstrap<img src="../img/PNG/bootstrap.png" /></div>
                <div>JavaScript<img src="../img/PNG/JS.png" /></div>
                <div>Python<img src="../img/PNG/python.png" /></div>
                <div>Django<img src="../img/PNG/django.png" /></div>
                <div>PostgreSQL<img src="../img/PNG/postgres.png" /></div>
                <div>GitHub<img src="../img/PNG/github.png" /></div>
                <div>React<img src="../img/PNG/react.png" /></div>
              </div>
            </div>
          </div>
        </section>

        <!-- PORTFOLIO -->

        <section>
          <div class="portfolio" id="portfolio">
            <h1>PROYECTOS</h1>

            <div class="slider-section">
              <!-- Description Slider -->
              <div class="description">
                <div class="description-inner">
                  <div>
                    <h3>Gimnasio CPFSJ</h3>
                    <h4>Django App</h4>
                    <p>
                      La aplicación ayuda a llevar un control de las rutinas de
                      cada alumno del gimnasio. El entrenador controla y
                      modifica las rutinas de los usuarios modificando los datos
                      según los avances del alumno desde el panel de
                      administración e impactando en una base de datos en
                      Postgres.
                    </p>
                    <p>
                      El alumno por su parte, sigue las indicaciones del
                      entrenador desde la aplicación. Al ser responsive, pueden
                      tener su rutina a mano desde su dispositivo móvil al
                      momento de entrenar.
                    </p>
                  </div>

                  <div>
                    <h3>Pizza World</h3>
                    <h4>JavaScript Vanilla</h4>
                    <p>
                      Se trata de una web de porfolio que utiliza HTML, CSS y
                      JavaScript, sin uso de frameworks ni librerías. Es una web
                      100% responsive, adaptable a cualquier dispositivo y
                      enfocada en el front con efectos en JS y estilos CSS.
                    </p>
                  </div>

                  <div>
                    <h3>Tecno Market</h3>
                    <h4>Django App</h4>
                    <p>
                      TecnoMarket es una tienda online de electrónica realizada
                      con Django, sumando algunos conceptos de JavaScript para
                      darle dinamismo. Al igual que otras aplicaciones, este
                      framework permite controlar y manejar los productos desde
                      el panel de administración, haciendo que su mantenimiento
                      sea mas amigable.
                    </p>
                  </div>

                  <div>
                    <h3>Gestión de Envíos</h3>
                    <h4>Django App</h4>
                    <p>
                      Aplicación creada con Django para fines educativos. La
                      aplicación aprovecha las características del framework
                      para controlar las distintas aplicaciones desde el panel
                      de administración. Permitiendo agregar contenido de forma
                      dinámica al sitio, como entradas de blog, nuevos
                      servicios, envió de consultas o manejar la tienda de forma
                      practica.
                    </p>
                  </div>

                  <div>
                    <h3>Task Mngr</h3>
                    <h4>React - Django Rest Framework</h4>
                    <p>
                      Task mngr es una aplicación que te permite la creación de
                      listas de tareas para una mejor organización.
                    </p>
                    <p>
                      La interfaz de usuario esta desarrollada con React. En
                      cuanto al backend, hace uso de Django rest para exponer
                      una API que sera consumida por el front para manejar el
                      crud de tareas.
                    </p>
                  </div>
                </div>
              </div>

              <div class="slider">
                <i class="fa-solid fa-arrow-right arrowRight"></i>
                <i class="fa-solid fa-arrow-left arrowLeft"></i>
                <div class="slider--inner">
                  <img src="../img/IMG_SLIDER/CPFSJ.png" alt="" />
                  <img src="../img/IMG_SLIDER/worldpizza.png" alt="" />
                  <img src="../img/IMG_SLIDER/tecnomarket.png" alt="" />
                  <img src="../img/IMG_SLIDER/pedidos.png" alt="" />
                  <img src="../img/IMG_SLIDER/taskapp.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>

    <footer>
      <div class="footer" id="contacto">
        <ul>
          <li>
            <div>
              <i class="fa-solid fa-envelope"></i>
              <p>alonsotaverna@outlook.com</p>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <a href="https://github.com/alotav" target="_blank">
              <div class="git">
                <i class="fa-brands fa-square-github"></i>
                <p>GitHub</p>
              </div>
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <div>
              <i class="fa-solid fa-mobile"></i>
              <p>+54 3468530889</p>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <a
              href="https://www.linkedin.com/in/alonso-taverna-903266192/"
              target="_blank"
            >
              <div class="link">
                <i class="fa-brands fa-linkedin"></i>
                <p>LinkedIn</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </footer>

    <script src="../js/app.js"></script>
  </body>
</html>
